.head-about-us::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 80px;
    top: 15px;
    left: 130px;
    background: linear-gradient(90deg, rgba(254,161,22,1) 0%, rgba(15,23,42,0.01) 100%);
}
.head-contact-us::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 80px;
    top: 15px;
    left: 150px;
    background: linear-gradient(90deg, rgba(254,161,22,1) 0%, rgba(15,23,42,0.01) 100%);
}
.head-table-booking::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 80px;
    top: 15px;
    left: 150px;
    background: linear-gradient(90deg, rgba(254,161,22,1) 0%, rgba(15,23,42,0.01) 100%);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
